:root {
    --primary-color: #fed03d;
    --light-color: #f5f5f5;
    --bg-card: rgb(245, 245, 245);
    --light-text: #747474;
    --dark-text: #333;
    --dark-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.title-section h2 {
    font-family: 'Raleway';
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 3.6875;
    margin-bottom: 1.125rem;
    letter-spacing: -0.02em;
    color: var(--dark-text);
}

.title-section p {
    font-family: 'Raleway';
    font-size: 2rem;
    color: var(--light-text);
}

.text-banner {
    font-family: 'Raleway';
    font-size: 3rem;
}

.menu-bar-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    padding: 0 36px;
    width: 100%;
    min-height: 68px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
    display: inline-block;
}

.logo img {
    vertical-align: top;
}

.menu-principal a,
.top-networks a {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}

.menu-principal a:last-child,
.top-networks a:last-child {
    padding-right: 0;
}

.top-networks a i {
    font-size: 2.3rem;
}

.menu-principal a:hover,
.top-networks a:hover {
    color: var(--primary-color);
}

.fixed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 36px;
    min-height: 68px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    background: #fff;
    transition: all .4s ease;
    margin-top: -68px;
}

.fixed-header .menu-principal a,
.fixed-header .top-networks a {
    color: #444;
}

.fixed-header .menu-principal a:hover,
.top-networks a:hover {
    color: var(--primary-color);
}

.menu-mobile {
    display: none;
}

.main {
    width: 100%;
    margin-top: -68px;
    background-color: var(--light-color);
}

.main .banner-principal {
    width: 100%;
    position: relative;
}

.main .banner-principal .banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main .banner-principal .banner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.335);
}

.main .banner-principal .text-banner {
    display: inline-block;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main .banner-principal .text-banner h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    margin-bottom: 10px;
}

.main .banner-principal .text-banner h2 {
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.main .banner-principal .text-banner a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    background: var(--primary-color);
    color: var(--dark-text);
    transition: all .7s ease;
}

.main .banner-principal .text-banner span {
    font-size: 1.9rem;
    text-transform: uppercase;
}

.main .banner-principal .text-banner a:hover {
    background: var(--dark-text);
    color: var(--primary-color);
}

.main .us {
    padding: 8rem 0;
}

.main .us .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main .us .container .col.izq {
    width: 30%;
    border-right: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.main .us .container .col.der {
    width: 70%;
    padding-left: 5%;
}

.main .us .container .col.der .text p {
    font-size: 1.8rem;
    line-height: 1.75;
    color: var(--dark-text);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: var(--light-color);
}

.card-container-indoor {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card-container .card {
    position: relative;
    width: 300px;
    height: 250px;
}

.card-container .card .content {
    text-align: center;
}

.card-container .card .content p {
    font-size: 1.5rem;
}

.card-container .card i {
    font-size: 4rem;
    color: var(--primary-color);
}

.card-container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.card-container .card .face.face1 {
    background: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.card-container .card .face.face1 i {
    max-width: 100px;
}

.card-container .card .face.face1 h3 {
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
}

.card-container .card:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: var(--primary-color);
}

.card-container .card .face.face2 {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.card-container .card:hover .face.face2 {
    transform: translateY(0) rotateX(0deg);
}