:root {
    --primary-color: #fed03d;
    --light-color: #f5f5f5;
    --bg-card: rgb(245, 245, 245);
    --light-text: #747474;
    --dark-text: #333;
    --dark-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

.titulo-seccion h2 {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 3.6875;
    margin-bottom: 1.125rem;
    letter-spacing: -0.02em;
    color: var(--dark-text);
}

.titulo-seccion p {
    font-size: 2rem;
    color: var(--light-text);
}

.texto-banner {
    font-family: 'Raleway';
    font-size: 3rem;
}

.menu-bar-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    padding: 0 36px;
    width: 100%;
    min-height: 68px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
    display: inline-block;
}

.logo img {
    vertical-align: top;
}

.menu-principal a,
.top-redes a {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 1.5em;
    transition: all .3s ease;
}

.menu-principal a:last-child,
.top-redes a:last-child {
    padding-right: 0;
}

.top-redes a i {
    font-size: 2.3rem;
}

.menu-principal a:hover,
.top-redes a:hover {
    color: var(--primary-color);
}

.fixed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 36px;
    min-height: 68px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    background: #fff;
    transition: all .4s ease;
    margin-top: -68px;
}

.fixed-header .menu-principal a,
.fixed-header .top-redes a {
    color: #444;
}

.fixed-header .menu-principal a:hover,
.top-redes a:hover {
    color: var(--primary-color);
}

.menu-mobile {
    display: none;
}

.main {
    width: 100%;
    margin-top: -68px;
}

.main .banner-principal {
    width: 100%;
    position: relative;
}

.main .banner-principal .banner {
    width: 100%;
    height: 100vh;
    background-image: url(../img/a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main .banner-principal .banner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.335);
}

.main .banner-principal .texto-banner {
    display: inline-block;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main .banner-principal .texto-banner h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    margin-bottom: 10px;
}

.main .banner-principal .texto-banner h2 {
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
    font-size: 3.5rem;
}

.main .banner-principal .texto-banner a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 20px;
    background: var(--primary-color);
    color: var(--dark-text);
    transition: all .7s ease;
}

.main .banner-principal .texto-banner span {
    font-size: 1.9rem;
    text-transform: uppercase;
}

.main .banner-principal .texto-banner a:hover {
    background: #fff;
    color: var(--primary-color);
}

.main .nosotros {
    padding: 8rem 0;
}

.main .nosotros .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main .nosotros .container .col.izq {
    width: 30%;
    border-right: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.main .nosotros .container .col.der {
    width: 70%;
    padding-left: 5%;
}

.main .nosotros .container .col.der .texto p {
    font-size: 1.8rem;
    line-height: 1.75;
    color: var(--dark-text);
}